<%= simple_form_for [@restaurant, @review] do |f| %>
  <div class="form-group">
    <%= f.input :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.input :rating, collection: [0, 1, 2, 3, 4, 5], class: 'form-control' %>
  </div>

  <%= f.submit "Create a new review", class: 'btn btn-secondary form-button' %>
<% end %>
